.invinsible
{
    visibility: hidden;
}
.chat_options_backdrop
{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #23272a;
    z-index: -100;
}
.backdrop_page_title_holder
{
    position: relative;
    padding: 10px;
    text-align: center;
}
.backrop_page_title
{
    margin: 0;
    font-size: 1rem;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    color: #b8b8b8;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bolder;
}
.backdrop_top_bar
{
    height: 10%;
    min-height: 10%;
    max-height: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #23272a;
}
.option_close_button_holder
{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: grid;
    place-items: center;
}
.option_close_button 
{
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    aspect-ratio: 1;
    padding: 0px;
    border:none;
    background-color:transparent;
    outline:none;

}
.option_close_button img
{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
}
.chat_page
{
    position: fixed;
    top: 0;
    left: 0;
    color: #b8b8b8;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-block-end: 0px;
    margin-block-start: 0px;
    background-color: #23272a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.chat_top_bar
{
    height: 10%;
    width: 100%;
    min-height: 10%;
    max-height: 10%;
    border-bottom: 1px solid #000000;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.top_bar_left
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    max-height: 100%;
}
.home_button_holder
{
    display: grid;
    place-items: center;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.home_button
{
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    aspect-ratio: 1;
    padding: 0px;
    border:none;
    background-color:transparent;
    outline:none;
}
.home_button img
{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
}
.option_button_holder
{
    display: grid;
    place-items: center;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    z-index: -1;
}
.option_button
{
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    aspect-ratio: 1;
    padding: 0px;
    border:none;
    background-color:transparent;
    outline:none;
}
.option_button img
{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
}
.page_title_holder
{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: grid;
    place-items: center;
}
.page_title
{
    margin: 0;
    font-size: 150%;
    font-weight: bolder;
}
.top_bar_right
{
    margin: 0;
    display: grid;
    height: 10%;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #000000;
}
.thread_title
{
    font-size: 140%;
    font-weight: bolder;
}
.chat_main
{
    height: 90%;
    display: grid;
    min-height: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    grid-template-columns: 1fr 3fr;
}

.chat_options
{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: #2c2f33;
    border-right: 1px solid #000000;
}
.option_container
{
    width: 100%;
    height: 8%;
    min-height: 8%;
    max-height: 8%;
}
.searchbar_container
{
    width: 100%;
    height: 8%;
    min-height: 8%;
    max-height: 8%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #000000;
}
.searchbar 
{
    max-height: 100%;
    width: 95%;
    color: #b8b8b8;
    margin-bottom: 1px;
    background-color: #2c2f33;
    outline: none;
    padding: 1.5%;
    border-radius: 21px;
    font-weight: 500;
    font-size: large;
    text-align: center;
    border: .5px solid #888888;
}
.chat_option_container
{
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: grid;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #000000;
}
.search_option
{
    position: relative;;
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;   
    min-width: 100%;
    padding-right: 10%;
    display: flex;
    justify-content: right;
    place-items: center;
}
.settings_option
{
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;   
    min-width: 100%;
    padding-left: 10%;
    border-left: 1px solid #000000;
    display: flex;
    justify-content: left;
    place-items: center;
}
.search_option img
{
    height: 60%;
    min-height: 60%;
    max-height: 60%;
    aspect-ratio: 1;
    max-width: 100%;
    border-radius: 5px;
}
.settings_option img
{
    height: 60%;
    min-height: 60%;
    max-height: 60%;
    aspect-ratio: 1;
    max-width: 100%;
    border-radius: 5px;
}
.selected_option
{
    background-color: #23272a;
}
.search_context_holder
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100%;
    height: 5%;
    min-height: 5%;
    max-height: 5%;
    border-bottom: 1px solid #000000;
    overflow: hidden;
}
.search_context
{
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-left: 1px solid #000000;
}
.context_paragraph
{
    font-size: 95%;
    font-weight: 700;
    color: #b8b8b8;
}
.selected_context
{
    background-color: #23272a;
}
.search_result_container
{
    width: 100%;
    height: 79%;
    min-height: 79%;
    max-height: 100%;
    overflow: auto;
    font-display: grid;
    place-items: center;
}
.search_result_container::-webkit-scrollbar {
    display: none;
}
.search_result 
{
    min-height: 10%;
    max-height: 10%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 1px solid black;
    background-color: #23272a;
    margin-bottom: 5px;
}

.context_profile_picture_container
{
    max-height: 100%;
    max-width: 100%;
    display: grid;
    place-items: center;
}
.context_profile_picture_container img
{
    max-height: 90%;
    max-width: 90%;
    padding-left: 5%;
    border-radius: 50%;
}
.context_threadname_container
{
    margin-left: 5%;
    max-height: 100%;
    max-width: 90%;
    display: grid;
    place-items: center;
    background-color: #16161670;
}
.goto_button_container
{
    max-height: 100%;
    max-width: 100%;
    display: grid;
    place-items: center;
}
.goto_button_container img
{
    max-height: 90%;
    max-width: 90%;
}
.chat_feed
{
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;  
}
.chat_list
{
    height: 80%;
    min-height: 80%;
    max-height: 80%;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}
.chat_list::-webkit-scrollbar {
    display: none;
}

.message_container
{
    width: 99%;
    padding: 10px;
    min-width: 99%;
    max-width: 99%;
    margin-top: 10px;
    border-radius: 5px;
    border-bottom: .5px solid rgb(24, 24, 24);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.message_container:hover
{
    background-color: #0c0c0c60;
}
.message_main
{
    width: 130%;
    max-width: 130%;
    min-width: 130%;
    background-color: #0c0c0c60;
    border-radius: 5px;
    padding: 10px;
    order: 1;
}
.message_space
{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    order: 2;
}
.self .message_main
{
    transform: translateX(-30%);
    order: 2;
}
.self .message_space
{
    order: 1;
}
.message_header_container
{
    width: 100%;
    max-width: 100%;
    display: grid;
    min-height: 60px;
    grid-auto-flow: column;
    grid-template-columns: 60px;
    grid-template-rows: 100%;
}
.profile_image_holder
{
    max-height: 55px;
    min-height: 55px;
    max-width: 55px;
    min-width: 55px;
    position: relative;
    display: grid;
    place-items: center;
}
.profile_image
{
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.message_metadata_holder
{
    max-width: 100%;
    position: relative;
    background-color: #242424;
    border-radius: 5px 5px 0px 0px;
    border-top: 2px solid #b8b8b850;
    overflow-wrap: break-word;
}
.profile_name
{
    overflow-wrap: break-word;
    padding-bottom: 0px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.message_timestamp
{
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    font-size: small;
    font-weight: medium;

}
.message
{
    padding: 10px;
    min-height: 50px;
    max-width: 100%;
    font-size: large;
    line-height: 1.3;
    margin-left: 60px;
    border-radius: 0px 0px 5px 5px; 
    background-color: #2c2f33;
    border-bottom: 2px solid #b8b8b850;
    overflow-wrap: break-word;
}


.chat_control_bar
{
    height: 20%;
    width: 100%;
    display: grid;
    max-width: 100%;
    min-height: 20%;
    max-height: 20%;
    grid-template-columns: 12fr 2fr;
    border-top: .5px solid #0c0c0c;
}
.message_bar_holder
{
    width: 100%;
    height: 100%;
    display: grid;
    max-width: 100%;
    place-items: center;
}
.message_bar
{
    max-height: 80%;
    max-width: 100%;
}
.control_button_holder
{
    height: 100%;
    position: relative;
}
.message_submit_button
{
    top: 50%;
    padding: 10px;
    color: #b8b8b8;
    margin-left: 10px;
    font-weight: bold;
    outline:#b8b8b8;
    border-radius: 5px;
    position: absolute;
    transform: translateY(-50%);
    background-color: #161616;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .chat_top_bar
    {
        min-height: 10%;
        max-height: 10%;
        grid-template-columns: 1fr;
    }
    .top_bar_left
    {
        min-height: 100%;
        max-height: 100%;
    }
    .top_bar_right
    {
        display: none;
    }
    .thread_title
    {
        font-size: medium;
    }
    .chat_main
    {
        grid-template-columns: 1fr;
        min-height: 90%;
        max-height: 90%;
    }
    .chat_options
    {
        display: none;
    }
    .message_main
    {
        width: 160%;
        max-width: 160%;
        min-width: 160%;
    }
    .message_space
    {   width: 160%;
        display: none;
    }
    .self .message_main
    {
        transform: translateX(20%);
    }
    .self .message_space
    {
        display: none;
    }
    .message_submit_button
    {
        padding: 8px;
        margin-left: 8px;
    }
    .option_button_holder
    {
        z-index: 0;
    }
    .show_backdrop
    {
        z-index: 100;
    }
    .page_title_holder
    {
        display: grid;
        place-items: center;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}

