.page {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../public/ChatBG.jpg");
    background-size: cover;
}

.page_top_container {
    height: 10%;
    min-height: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.home_button_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.home_button_container img {
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    aspect-ratio: 1;
    overflow: hidden;
    cursor: pointer;
}

.title_container {
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    color: #000000;
    display: flex;
    align-items: center;
}

.title_container p {
    position: relative;
    left: 15%;
}

.main {
    width: 100%;
    height: 90%;
}

.search_bar_container {
    height: 10%;
    width: 100%;
    display: grid;
    place-items: center;
}

.search_bar {
    height: 50%;
    width: 60%;
    color: black;
    margin-bottom: 1px;
    outline: none;
    font-weight: 500;
    font-size: large;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.search_result_container {
    position: relative;
    left: 20%;
    width: 60%;
    height: 90%;
    overflow: auto;
}

.search_result_container::-webkit-scrollbar {
    display: none;
    font-family: "Montserrat", sans-serif;
}


.search_result {
    max-width: 100%;
    min-height: 10%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 700;
    background: linear-gradient(to bottom,
            rgb(201, 201, 201),
            rgb(255, 255, 255));

    cursor: pointer;
}

.profile_pic {
    max-height: 50%;
    max-width: 100%;
    display: grid;
    place-items: center;
    font-family: "Montserrat", sans-serif;
}

.profile_pic img {
    max-height: 90%;
    max-width: 90%;
    height: 50%;
    padding-left: 5%;
    font-family: "Montserrat", sans-serif;
}

.threadname_container {
    margin-left: 5%;
    max-height: 100%;
    max-width: 90%;
    min-width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
}

.history_container {
    position: relative;
    left: 20%;
    width: 60%;
    height: 90%;
    overflow: auto;
}

.history {
    max-width: 100%;
    min-height: 10%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 700;
    background: linear-gradient(to bottom,
            rgb(201, 201, 201),
            rgb(255, 255, 255));

    cursor: pointer;
}
.time_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.time_container p 
{
    font-size: small;
}
.time_container img 
{
    width: 30%;
}
@media only screen and (max-width: 768px) {

    .search_result_container {
        width: 95%;
        left: 2.5%;
    }

    .search_bar {
        width: 90%;
        height: 70%;
    }
    .title_container p {
        position: relative;
        left: 0%;
        font-size: x-large;
    }
    .history_container
    {
        width: 95%;
        left: 2.5%;
    }
    .time_container p 
    {
        font-size: x-small;
    }
    .time_container img 
    {
        width: 50%;
    }
}