.entrance_page {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

}

.entrance_page::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../public/entrance_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

.center_content {
    display: grid;
    place-items: center;
}