.map {
    position: fixed;
    top: 0;
    left: 0;
    left: 30%;
    height: 100%;
    width: 70%;
    z-index: 1;
}
.phone_navigator 
{
    display: none;
}

.addListingButton{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addListingButton img{
    height: 80%;
    aspect-ratio: 1;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    z-index: 2;
    background-color: #dddddd;
}

.page_title {
    height: 10%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.home_icon {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.home_icon img {
    height: 5.5vh;
    aspect-ratio: 1;
    cursor: pointer;
}

.page_title_container {
    display: grid;
    width: 100%;
    height: 8vh;
    font-size: calc(2.5vh + 2vw);
    min-height: calc(2.5vh + 2vw);
    color: #000000;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;

}

.search {
    height: 10%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center;
    border-bottom: 1px solid #00000025;
}

.search_bar {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.search_bar input {
    background-color: white;
    color: #000000;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    width: 90%;
    height: 50%;
    outline: none;
    border: none;
    text-align: center;
}

.search_button {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.search_button img {
    height: 5vh;
    aspect-ratio: 1;
}


.filter {
    height: 8.5%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    border-bottom: 1px solid #00000025;
}

.filter_button {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.filter_button img {
    height: 4vh;
    aspect-ratio: 1;
}

.blocks_bar {
    height: 8.5%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center;
    border-bottom: 1px solid #00000025;
}

.filter_text {
    padding-left: 30%;
}

.block_text {
    color: #000000;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    display: grid;
    place-items: center;
    padding-left: 30%;
}

.block_dropdown {
    display: grid;
    place-items: center;
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.dropdown_list {
    position: absolute;
    left: 60%;
    height: 20%;
    width: 35%;
    overflow-y: scroll;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

.block_list {
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #00000050;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

.dropdown_list::-webkit-scrollbar {}

.pressbox {
    height: 8.5%;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid #00000025;
}

.pressbox_name {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding-left: 30%;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

.pressbox_button {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.price_slider {
    height: 8.5%;
    z-index: 1;
    border-bottom: 1px solid #00000025;
}

.rent_price {
    height: 50%;
    display: grid;
    place-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

.list_image img
{
    height: 5vh;
    aspect-ratio: 1;
}
.popup 
{
    height: 35vh;
    max-height: 35vh;
    aspect-ratio: 1;
    overflow-y: scroll;
}

.popup_list 
{
    min-height: fit-content;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    
} 
.popup_list_single
{
    height: 16.67%;
    height: max-content;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: left;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: center;

}
.popup_list_image 
{
    height: 5vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.popup_list_image img 
{
    height: 4vh;
    aspect-ratio: 1;
}



@media only screen and (max-width : 768px) {
    .map 
    {
        width: 100%;
        left: 0%;
    }
    .settings{
        width: 100%;
    }
    .page_title 
    {
        grid-template-columns: 1fr 1fr 1fr;
        height: 6%;
    }
    .home_icon img
    {
        height: 5vh;
    }
    .filter 
    {
        height: 7.5%;
    }
    .page_title_container 
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone_navigator 
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 8%;
    }
    .phone_nav_icon 
    {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .phone_nav_icon img 
    {
        height: 4vh;
        aspect-ratio: 1;
    }
}