.visit_page {
    display: none;

}

@media only screen and (max-width: 768px) {
    .visit_page {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px black solid;
    }
}