.visit_page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
    font-family: "Montserrat", sans-serif;
    background-image: url("../public/ChatBG.jpg");
    background-size: cover;
}

.top_bar {
    height: 25vh;
    /* max-height: 25vh; */
    min-height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.top_bar_left {
    height: 25vh;
    /* max-height: 25vh; */
    min-height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.profile_image_container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_image_container img {
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;

}

.profile_card {
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.profile_card .top_name_container {
    height: 100%;
    max-width: 100%;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: calc(1.2vh + 1.2vw);
}

.profile_card .top_bio_container {
    font-weight: bolder;
    text-align: center;
    font-size: calc(0.8vh + 0.8vw);
    height: 100%;
}

.profile_card p {
    overflow-wrap: break-word;
}

.top_bar_right {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: grid;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.top_bar_right div {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_bar_right>div>img {

    margin-top: 30px;
    cursor: pointer;
    height: 30%;
    aspect-ratio: 1;
}

.top_bar_right img:nth-child(1) {
    /* transform: translateX(100%); */
}

.top_bar_right img:nth-child(2) {
    /* transform: translateX(-10%); */
}

.top_bar_right img:nth-child(3) {
    /* transform: translateX(-100%); */
}

.main {
    height: 75%;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.left {
    max-height: 75vh;
}

.right {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.right::-webkit-scrollbar {
    display: none;
    font-family: "Montserrat", sans-serif;
}

.info {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.contact {
    height: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.contact::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 25%;
    left: 0%;
    height: 75%;
    width: 40%;
    backdrop-filter: blur(10px) brightness(80%);
    font-family: "Montserrat", sans-serif;
}


.label_container {
    height: fit-content;
    text-align: left;
    padding: 25px;
    padding-bottom: 0px;
}

.label_container p {
    font-weight: bolder;
    color: black;
    font-size: 40px;
    font-size: calc(1.5vh + 1.5vw);
}

.listing_name_container {
    padding: 10px;
    height: fit-content;
    text-align: left;
    margin-left: 7.5%;
    font-weight: bolder;
    color: black;
    font-size: calc(1.5vh + 1.5vw);
}

.contact_main {
    flex: 1;
    font-weight: bolder;
    font-size: calc(1.2vh + 1.2vw);
    padding: 10px;
    padding-left: 25px;
}

.info_main {
    flex: 1;
    font-weight: bolder;
    font-size: calc(1.2vh + 1.2vw);
    padding: 10px;
    padding-left: 25px;
}


.listing {
    margin-left: 7.5%;
    font-weight: 900;
    background-color: #00000030;
    height: fit-content;
    width: 85%;
    padding: 30px;
    margin-bottom: 20px;
    font-size: calc(0.9vh + 0.9vw);
}

.listing p {
    line-height: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .visit_page {
        overflow-y: scroll;
    }

    .top_bar {
        grid-template-columns: 1fr;
        height: auto;
    }

    .top_bar_left {
        height: unset;
        order: 2;
        min-height: max-content;
    }
    
    .top_bar_right {
        order: 1;
        min-height: max-content;
        background-color: #00000030;
    }

    .profile_card {}

    .top_bio_container {
        /* height: fit-content; */
        padding-bottom: 10px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .contact {
        height: max-content;
        min-height: max-content;
    }

    .contact::before {
        display: none;
    }

    .info {
        height: max-content;
        min-height: max-content;
    }

    .left {
        height: max-content;

    }

    .right {
        min-height: 100vh;
        margin-bottom: 30px;
    }

    .listing_name_container {
        margin-left: 5%;
    }
    .listing {
        margin-left: 5%;
        width: 90%;
    }

    .listing:last-child {
        margin-bottom: 25px;
    }
}